@import '~office-ui-fabric-react/dist/sass/References.scss';

.quickLinks {
  .linkCntnr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .toggleNdTxt{
      width:32%;
      padding: 5px;
      display: flex;
    }
    a{
      text-decoration: none;
      margin-left: 3px;
    }
  }

  .linksHdrOps{
    display: flex;
    justify-content: space-between;
    .linksHdrTxt{
      width: 100%;
      padding: 5px;
    }
    .linksHdrBtn{
      position: absolute;
      right: 25px;
      button{
        margin-left: 5px;
      }
    }
  }

  .linksTitle{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    &::after{
      clear: both;
      display: block;
      content: ' ';
    }
    span{
      float: left;
      font-weight: 600;
    }
    button{
      float: right;
    }
  }

  .toggleBtnChk, .toggleBtnUnChk{
    margin-right: 3px;
    button{
      width: 34px;
      height: 17px;
      span{
        width: 10px;
        height: 10px;
        border-width: 5px;
      }
    }
  }
  .linkChk{
    color: #0072C6
  }
  .linkUnChk{
    color: #aaa;
  }
}
